html {
    position: relative;
    height: 100%;
}

body {
    margin-bottom: 33%;
    width: 100%;
    overflow: hidden;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mechlist {
    position: absolute;
    bottom: 0;
    height: 33%;
    width: 100%;
}

.enemypic>img {
    width: 10%;
    height: auto;
    position: absolute;
    left: 10%;
    bottom: 60%;
}

/* Tweak Bootstrap */
.panel {
    padding: 0;
    height: 100%;
}

.panel-heading {
    padding-top: 3px;
    padding-bottom: 3px;
}

.panel-body {
    padding: 5px;
}

.progress {
    margin-bottom: 5px;
}

.nav>li>a {
    padding: 5px 10px;
}
